@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@300&family=IM+Fell+English+SC&display=swap");

body {
  font-family: "Grenze Gotisch", cursive;
  font-size: 23px; /*  18 */
  background-image: url("../img/piele.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  background-attachment: fixed;
  padding: 0 15px;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
h1,
h3,
h4,
h5,
h6 {
  line-height: 0.1;
}
p {
  line-height: 1.7;
  margin-bottom: 0;
}

.site-title {
  font-family: "IM Fell English SC", serif !important;
  font-size: 60px;
}

.site-title,
.site-description {
  position: relative;
  font-family: "Grenze Gotisch", cursive;
  color: white;
  text-shadow: 0px 3px 2px rgba(62, 62, 62, 1);
  bottom: 54px !important;
  right: 60px !important;
}

.site-description {
  font-size: 37px;
}

.site-header {
  background: url("../img/header-01.jpg") no-repeat;
  background-size: cover;
  padding: 60px 80px;
  position: relative;
}

#nav-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 84%;
  left: 0%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100px;
}

#nav-buttons > div {
  flex: 1 1 auto;
  width: 25%;
  padding-top: 3%;
}

.site-header {
  height: 500px;
}
.main-nav .nav-link {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 15px 20px;
}

.main-nav .nav-link:hover,
.main-nav .nav-link:focus {
  color: #80b3ff;
}

.main-content {
  height: auto;
  padding: 20px 30px;
}

.content {
  background-color: white;
  max-width: 1120px;
  padding: auto;
  margin: 0 auto;
}

.tm-main-title {
  color: #6c6c6c;
  margin-bottom: 1.2rem;
}

#text-footer {
  font-family: "Comic Sans MS";
  font-size: 17;
  line-height: 30px;
  padding: 50px;
  color: white;
}

.account-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.container {
  margin-left: 860px;
  margin-top: -320px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  line-height: 45px;
  max-width: 160px;
  position: absolute !important;
  text-decoration: none;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

.effect01 {
  color: #fff;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 1px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

.effect01 span {
  transition: all 0.5s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #000;
}

.effect01:after {
  background: #fff;
  border: 0px solid #000;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.8;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  width: 50px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1;
}

.effect01:hover:after {
  background: #fff;
  border: 20px solid #000;
  opacity: 0;
  left: 120%;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.register-form {
  font-family: sans-serif;
  width: 380px;
  height: 480px;
  z-index: 100;
  background-size: cover;
  position: absolute;
  display: none;
  left: 34%;
}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  border: orange solid 9px;
  border-style: outset;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#slide-btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: 0.5s;
}

.social-icons {
  margin: 30px auto;
  text-align: center;
}

.social-icons img {
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box {
  margin: 30px 10px 30px 0;
}

spans {
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}
#login {
  left: 50px;
}
#register {
  left: 450px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
}

.close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
}

#error-register {
  display: none;
  color: red !important;
  font-size: 15px !important;
}
#tavern-image {
  position: relative;
  width: 1050px;
  height: 570px;
  top: 0% !important;
}

#error-login {
  display: none;
  color: red !important;
  font-size: 15px !important;
}

#btn-logout-text {
  color: white;
  position: absolute;
  top: 0%;
  right: 5%;
  display: none;
}

#btn-logout {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  margin-left: 860px;
  margin-top: -140px;
  left: 18px;
  position: relative;
  color: #fff !important;
  text-decoration: none;
  background: #ed3330;
  padding: 7px;
  border-radius: 5px;
  display: none;
  border: none;
  transition: all 0.4s ease 0s;
}

#btn-logout:hover {
  background: black;
  letter-spacing: 1px;
  position: relative;
  padding: 5px;
  -webkit-box-shadow: 0px 5px 40px -10px red;
  -moz-box-shadow: 0px 5px 40px -10px red;
  box-shadow: 5px 40px -10px red;
  transition: all 0.4s ease 0s;
}

.modalImg {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(22, 22, 22, 0.808);
  backdrop-filter: blur(10px);
}
#lamp-off {
  position: fixed;
  right: 0px !important;
  z-index: 2;
}

#lamp-on {
  position: fixed;
  right: 0px !important;
  z-index: 3;
  display: none;
}

#text-image {
  position: absolute;
  left: 40%;
  bottom: 50%;
  font-size: 40px;
  z-index: 2;
  color: #777;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

#birthday-picture {
  width: 390px;
  height: 450px;
  position: relative;
  left: 350px;
}
#menu {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  position: relative;
}
.contact-img {
  width: 40px;
  height: 40px;
  position: relative;
}
#main-contact {
  position: relative;
  text-align: center;
}
